@font-face {
    font-family: 'pixel';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
}

body {
    background: #C09175;
    font-family: 'pixel', sans-serif;
    text-align: center;
}

h1 {
    margin-top: 4rem;
}

#main-layout {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.4s ease;
    width: 100%;
}

#flower_grid {
    column-gap: 1rem;
    display: grid;
    flex: 1;
    grid-template-columns: repeat(4, max-content);
    justify-items: center; 
    margin: 1rem auto;
    row-gap: 1rem;
    transition: all 0.4s ease;
}

#info-card {
    opacity: 0;
    transform: translateX(40px);
    transition: all 0.4s ease;
    width: 50%;
}

#back-button {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    left: 1rem;
    padding: 0;     
    position: absolute;
    top: 0.5rem;
    
    img {
        height: 90px;
        transition: transform 0.3s;
        width: 90px;
    }

    img:hover {
        transform: scale(1.1); 
    }
}


.flower-card {
    background: none;  
    border: none;
    cursor: pointer;
    width: 150px;  
    height: 150px;
}

.flower-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s;
}

.flower-card:hover img {
    transform: scale(1.1); 
}

#main-layout.active {
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}

#main-layout.active #flower_grid {
    grid-template-columns: repeat(3, max-content);
    flex: 0 0 50%;
    justify-content: flex-end;
    margin-right: 3rem;
    margin-top: 5rem;
}

#main-layout.active #info-card {
    flex: 0 0 50%;
    justify-content: flex-start;
    opacity: 1;
    margin-top: 5rem;
    text-align: left;
    transform: translateX(0);
}

#main-layout.active #back-button {
    display: block;
}


@media (max-width: 600px) {
    #flower_grid {
        grid-template-columns: repeat(2, max-content); 
        row-gap: 0.4rem;
        column-gap: 0.4rem;
    }
    .flower-card {
        width: 100px;
        height: 100px;
    }
}