@font-face {
    font-family: 'pixel';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
}

body {
    font-family: 'pixel', sans-serif;
    text-align: center;
}

h1 {
    margin-top: 4rem;
}


#flower_grid {
    column-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
    justify-items: center; 
    margin: 1rem auto;
    row-gap: 1rem;
}

.flower-card {
    background: none;  
    border: none;
    cursor: pointer;
    width: 150px;  
    height: 150px;
}

.flower-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s;
}

.flower-card:hover img {
    transform: scale(1.1); 
}
